
body
{
	color: white;
    text-align: center;
    font-family: serif;
    background: black;
}

h4
{
	font-family: "Good Times", serif;
}

hr
{
    background-color: #000;
}

.row
{
    text-align: center;
}

.btn
{
    width: 15em;
    font-size: 18px;
    margin: 8px;
}

a
{
	color: white;
}