<div class="PageTitle">
    <h1>FlashMem</h1>
    <hr />
</div>

<div class="Slogan">
    <i>"Remembering the basics in a flash..."</i>
</div>

<div class="Logo">
    <p>Picture</p>
</div>

<div class="Slogan">
    <button type="submit" class="btn btn-primary" >Start</button>
</div>
